## Exercise 2 - Pandas part 2

**Note**: Throughout the exercise, the original data frame is to be processed!

1 Read the content of the `data_export.csv` file saved at the end of the previous exercise into the dataframe so that the `Unnamed 0` column is not created when the file is read.

In [4]:
import pandas as pd
import numpy as np

# Read the CSV file without creating an 'Unnamed: 0' column
df = pd.read_csv("data_export.csv")

2 Drop the rows with `NaN` values.

In [6]:
# Drop rows with NaN values
df = df.dropna()
print(df)

     column1   column2   column3
1   0.922251  0.490721  0.133932
2   0.363707  0.878349  0.485700
3   0.323134  0.036466  0.186775
4   0.467610  0.850993  0.377558
5   0.303299  0.096971  0.451031
6   0.733485  0.591996  0.658924
7   0.641628  0.251886  0.274987
8   0.319906  0.489200  0.990319
9   0.780267  0.458454  0.053428
10  0.935875  0.698276  0.446885
11  0.273193  0.300307  0.768270
12  0.467060  0.225161  0.911570
13  0.300589  0.455980  0.292225
14  0.859970  0.346539  0.364629
15  0.842364  0.093485  0.662066
16  0.781693  0.573344  0.815692
17  0.788949  0.945625  0.852690

3 Change all values ​​in the fifth and tenth row to `NaN`.

In [8]:
# Change all values in the fifth and tenth rows to NaN
df.iloc[4] = np.nan
df.iloc[9] = np.nan
print(df)

     column1   column2   column3
1   0.922251  0.490721  0.133932
2   0.363707  0.878349  0.485700
3   0.323134  0.036466  0.186775
4   0.467610  0.850993  0.377558
5        NaN       NaN       NaN
6   0.733485  0.591996  0.658924
7   0.641628  0.251886  0.274987
8   0.319906  0.489200  0.990319
9   0.780267  0.458454  0.053428
10       NaN       NaN       NaN
11  0.273193  0.300307  0.768270
12  0.467060  0.225161  0.911570
13  0.300589  0.455980  0.292225
14  0.859970  0.346539  0.364629
15  0.842364  0.093485  0.662066
16  0.781693  0.573344  0.815692
17  0.788949  0.945625  0.852690

4 Print the number of `NaN` values ​​in each column from the DataFrame object.

In [10]:
# Print the number of NaN values in each column
print(df.isna().sum())

column1    2
column2    2
column3    2
dtype: int64

5 Fill in the `NaN` values ​​made above with linear interpolation.

In [12]:
# Fill NaN values with linear interpolation
df = df.interpolate()
print(df)

     column1   column2   column3
1   0.922251  0.490721  0.133932
2   0.363707  0.878349  0.485700
3   0.323134  0.036466  0.186775
4   0.467610  0.850993  0.377558
5   0.600548  0.721495  0.518241
6   0.733485  0.591996  0.658924
7   0.641628  0.251886  0.274987
8   0.319906  0.489200  0.990319
9   0.780267  0.458454  0.053428
10  0.526730  0.379381  0.410849
11  0.273193  0.300307  0.768270
12  0.467060  0.225161  0.911570
13  0.300589  0.455980  0.292225
14  0.859970  0.346539  0.364629
15  0.842364  0.093485  0.662066
16  0.781693  0.573344  0.815692
17  0.788949  0.945625  0.852690

6 Change the last value of `column1` to 94 and the last value of `column3` to 45.

In [14]:
# Change the last value of column1 to 94 and the last value of column3 to 45
df.iloc[-1, df.columns.get_loc("column1")] = 94
df.iloc[-1, df.columns.get_loc("column3")] = 45
print(df.tail())

      column1   column2    column3
13   0.300589  0.455980   0.292225
14   0.859970  0.346539   0.364629
15   0.842364  0.093485   0.662066
16   0.781693  0.573344   0.815692
17  94.000000  0.945625  45.000000

7 Add a new column called `column4` to the DataFrame object. This column should include the sum of the columns `column1` and `column3`.

In [16]:
# Add a new column 'column4' which is the sum of column1 and column3
df["column4"] = df["column1"] + df["column3"]
print(df.head())

    column1   column2   column3   column4
1  0.922251  0.490721  0.133932  1.056182
2  0.363707  0.878349  0.485700  0.849407
3  0.323134  0.036466  0.186775  0.509909
4  0.467610  0.850993  0.377558  0.845168
5  0.600548  0.721495  0.518241  1.118788

8 Reset the index of the DataFrame object and print the number of rows.

In [18]:
# Reset the index and print the number of rows
df = df.reset_index(drop=True)
print("Number of rows:", len(df))

Number of rows: 17

9 Make time series data with the length of a DataFrame object in the time interval you want and make it an index column.

In [20]:
# Create a time series index with same length as DataFrame
date_range = pd.date_range(start="2025-01-01", periods=len(df), freq="D")
df.index = date_range
print(df.head())

             column1   column2   column3   column4
2025-01-01  0.922251  0.490721  0.133932  1.056182
2025-01-02  0.363707  0.878349  0.485700  0.849407
2025-01-03  0.323134  0.036466  0.186775  0.509909
2025-01-04  0.467610  0.850993  0.377558  0.845168
2025-01-05  0.600548  0.721495  0.518241  1.118788

10 Convert all values ​​in `column1` to strings with each zero replaced by an uppercase `ND` character combination.

In [22]:
# Convert all values in column1 to strings, replacing each '0' with 'ND'
df["column1"] = df["column1"].astype(str).str.replace("0", "ND")
print(df.head())

                    column1   column2   column3   column4
2025-01-01    ND.92225ND592  0.490721  0.133932  1.056182
2025-01-02    ND.3637ND6572  0.878349  0.485700  0.849407
2025-01-03     ND.323133868  0.036466  0.186775  0.509909
2025-01-04    ND.4676ND9956  0.850993  0.377558  0.845168
2025-01-05  ND.6NDND5476355  0.721495  0.518241  1.118788

11 Make a copy of the DataFrame object, whose column names have been changed to the following: `column5`, `column6`, `column7`, `column8`. After that, make one big DataFrame object, which consists of the original DataFrame and a copy so that they are added next to each other.


| column1 | column2 | column3 | column4 | column5 | column6 | column7 | column8 |
| ------------- |:-------------:| -----:| ------------- |:-------------:| -----:|-----:|-----:|
| 0.1 | 0.2 | 0.3 | ... | ... | ... | ... | ... |

In [24]:
# Make a copy with renamed columns
df_copy = df.copy()
df_copy.columns = ["column5", "column6", "column7", "column8"]

# Combine the original and copy side-by-side
combined_df = pd.concat([df, df_copy], axis=1)
print(combined_df.head())

                    column1   column2   column3   column4          column5  \
2025-01-01    ND.92225ND592  0.490721  0.133932  1.056182    ND.92225ND592
2025-01-02    ND.3637ND6572  0.878349  0.485700  0.849407    ND.3637ND6572
2025-01-03     ND.323133868  0.036466  0.186775  0.509909     ND.323133868
2025-01-04    ND.4676ND9956  0.850993  0.377558  0.845168    ND.4676ND9956
2025-01-05  ND.6NDND5476355  0.721495  0.518241  1.118788  ND.6NDND5476355

             column6   column7   column8
2025-01-01  0.490721  0.133932  1.056182
2025-01-02  0.878349  0.485700  0.849407
2025-01-03  0.036466  0.186775  0.509909
2025-01-04  0.850993  0.377558  0.845168
2025-01-05  0.721495  0.518241  1.118788

12 Put the last value of `column5` into a variable and the last value of `column3` into a separate variable from the newly made DataFrame object in string format. Concatenate those variables as a string and remove the last two characters from the result. Finally, remove all dots `.`.

In [45]:
# Get last value of column5 and column3 as strings
val1 = str(combined_df["column5"].iloc[-1])
val2 = str(combined_df["column3"].iloc[-1])

# Concatenate, remove last two characters, and remove all dots
result = (val1 + val2)[:-2].replace(".", "")
print(result)

94ND45