## Exercise 4 - SQLite

1 Add the necessary libraries for SQLite3 and make a database named `test.db`.

In [3]:
import sqlite3
import pandas as pd

# Create (or open) the SQLite database named test.db
db_name = "test.db"
conn = sqlite3.connect(db_name)
print("Database created/connected successfully.")

Database created/connected successfully.

2 Create a connection to the database.

In [5]:
# Create a cursor object to interact with the database
cursor = conn.cursor()
print("Database connection and cursor ready.")

Database connection and cursor ready.

3 Make the following table in the database, named `people`:
    
| name | age | shoe_size |
| ------------- |-------------| -----|
| Prank | 88 | 47 |
| Matt | 34 | 39 |
| Ilona | 41 | 36 |
| Sonja | 32 | 37 |

In [7]:
# Create a table named 'people'
cursor.execute("""
CREATE TABLE IF NOT EXISTS people (
    name TEXT,
    age INTEGER,
    shoe_size INTEGER
)
""")

# Insert the given rows
cursor.executemany("""
INSERT INTO people (name, age, shoe_size)
VALUES (?, ?, ?)
""", [
    ("Prank", 88, 47),
    ("Matt", 34, 39),
    ("Ilona", 41, 36),
    ("Sonja", 32, 37)
])

print("Table 'people' created and populated.")

Table 'people' created and populated.

4 When the Table has been created, convert the table to the Pandas DataFrame object and add the column `hat_size' to it, then fill that column with the values ​​you choose.

In [9]:
# Convert the table to a Pandas DataFrame
df = pd.read_sql_query("SELECT * FROM people", conn)

# Add a new column 'hat_size' with chosen values
df["hat_size"] = [58, 56, 55, 57]  # example values
print(df)

    name  age  shoe_size  hat_size
0  Prank   88         47        58
1   Matt   34         39        56
2  Ilona   41         36        55
3  Sonja   32         37        57

5 Make a copy of the DataFrame object with the name `person_table_copy` and add a row to it with the values ​you choose. Now save this modified dataframe object in the database as `person_table_copy` (will be created next to the previous table).

In [11]:
# Make a copy of the DataFrame
person_table_copy = df.copy()

# Add a new row with chosen values
new_row = {"name": "Alex", "age": 29, "shoe_size": 42, "hat_size": 59}
person_table_copy.loc[len(person_table_copy)] = new_row

# Save the modified DataFrame as a new table 'person_table_copy'
person_table_copy.to_sql("person_table_copy", conn, if_exists="replace", index=False)

print("New table 'person_table_copy' created and saved to the database.")

New table 'person_table_copy' created and saved to the database.

6 Finally, save the database changes and close the connection.

In [13]:
# Commit (save) changes and close the connection
conn.commit()
conn.close()
print("Database changes saved and connection closed.")

Database changes saved and connection closed.